<section class="about__page">
  <h1 class="title">Rick and Mort GraphQL + Angular</h1>
  <div class="about__container">
    <p class="about__paragraph">
      Angular v: 11 + GraphQL ( Rick and Morty) Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Ratione eaque a maxime maiores, adipisci id exercitationem nobis excepturi quaerat
      deserunt minus quos illum ipsum, deleniti provident laudantium odio quidem similique.
    </p>
    <figure class="about__img">
      <img
        src="./assets/imgs/web_dev.svg"
        alt=""
        srcset=""
        rel="preload"
        as="image"
        width="406"
        height="306"
      />
    </figure>
  </div>

  <p class="about_copy">Developed by <span class="text-withe"> André Rds</span></p>
  <div class="dominicode">Siga : dominicode</div>
</section>
