.card {
  width: 350px;
}
figure.card__favorite {
  background: transparent;
}
.id {
  position: absolute;
  background: rgb(250 246 246 / 50%);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.5;
}
